.btn {
    background-color: rgba(12, 23, 68, 1) !important;
    font-family: 'Petrona', serif;
}
.btn:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.btnRecommencer {
    left: 40% !important;
    top: 60% !important;
}

header {
    color: rgba(12, 23, 68, 1);
    height: 20em;
}
.regles, .response{
    background-image: url(/img/fond.jpg);
    color: white;
    background-size:contain;
    object-fit:cover;
   
   
}

.partie_blanche{
    color: rgba(12, 23, 68, 1);
    background-color: white;
    height: 10em;
}
.question{
    font-weight: bolder;
    font-size: 32;
    background-color: rgba(12, 23, 68, 1) !important;
    color: white;
    width: 50%;
    border-radius: 5px;
    
}
.phraseScore{
  
    font-size: 18;
    font-style:italic ;

}
p,label{
    font-family: 'Petrona', serif;
    font-size: 20;

}

label {
    color: rgba(255, 255, 255, 0.51);
    background: 
      linear-gradient(90deg,#0f98c6 50%,rgb(250, 250, 250) 0) 
      var(--_p,100%)/200% no-repeat;
    -webkit-background-clip: text;
            background-clip: text;
    transition: .4s;
  }
  label:hover {
    --_p: 0%;
  }

.toBad  .good{
height: 30em;

  }

  #cardSaviezVous{
    background-color: rgb(12, 23, 68) !important ;
    color: white;
    width: 50%;
    border: none!important;
   
    font-family: 'Petrona', serif;
  }

  #leSaviezVous{
    font-size: 20px;
   
  }
  form{
    width: 50%;
    margin: auto;
  }

 .noAnswer{
  text-align: center;
  color: red;
  font-size: 24px;
  font-style: italic;
 }
  /* input[type="radio"] {
    width: 32px;
    height: 32px;
  } */

    @media (max-width: 650px){
        #cardSaviezVous{
            width: 80%!important;
            
        }
        .partie_blanche{
            height: 9em;
        }
        .question{
            font-size: 24;
        }
        form{
            width: 80%!important;
        }
      
    }
    
   
